In [3]:
import pandas as pd

df = pd.read_csv("IFSC_master.csv")

print(df.head())

                  BANK         IFSC                         BRANCH  \
0  STATE BANK OF INDIA  SBIN0063986                    RASMEC GAYA
1  STATE BANK OF INDIA  SBIN0063997        SECTOR-FORTY FOUR,NOIDA
2  STATE BANK OF INDIA  SBIN0064003    NOIDA EXTENSION, G.B. NAGAR
3  STATE BANK OF INDIA  SBIN0064004  MEDICAL COLLEGE BRANCH, BASTI
4  STATE BANK OF INDIA  SBIN0064006                      MAMBAKKAM

                                             ADDRESS      CITY1      CITY2  \
0  NEERAJ BHAWAN,IN FRONT OF DAYAL PETROL PUMP,GE...     RAMPUR     RAMPUR
1  SECTOR-44,NOIDA B-132,SECTOR-44,NOIDA,PIN CODE...      NOIDA      NOIDA
2               NS-07,SECTOR ALPHA 2,GR NOIDA-201308  GR. NOIDA  GR. NOIDA
3  STATE BANK OF INDIA,MAHARSHI VASHISHITH AUTONO...      BASTI      BASTI
4  SBIOA UNITY ENCLAVE,COMMERCIAL COMPLEX,1ST FLO...    CHENNAI    CHENNAI

           STATE  STD CODE         PHONE
0          BIHAR       NaN  9.470489e+09
1  UTTAR PRADESH       NaN  9.720087e+09
2  UTTAR PRADESH       NaN  9.310375e+09
3  UTTAR PRADESH       NaN  8.467946e+09
4     TAMIL NADU       NaN  9.489939e+09

In [4]:
df

,BANK,IFSC,BRANCH,ADDRESS,CITY1,CITY2,STATE,STD CODE,PHONE
0,STATE BANK OF INDIA,SBIN0063986,RASMEC GAYA,"NEERAJ BHAWAN,IN FRONT OF DAYAL PETROL PUMP,GE...",RAMPUR,RAMPUR,BIHAR,NaN,9.470489e+09
1,STATE BANK OF INDIA,SBIN0063997,"SECTOR-FORTY FOUR,NOIDA","SECTOR-44,NOIDA B-132,SECTOR-44,NOIDA,PIN CODE...",NOIDA,NOIDA,UTTAR PRADESH,NaN,9.720087e+09
2,STATE BANK OF INDIA,SBIN0064003,"NOIDA EXTENSION, G.B. NAGAR","NS-07,SECTOR ALPHA 2,GR NOIDA-201308",GR. NOIDA,GR. NOIDA,UTTAR PRADESH,NaN,9.310375e+09
3,STATE BANK OF INDIA,SBIN0064004,"MEDICAL COLLEGE BRANCH, BASTI","STATE BANK OF INDIA,MAHARSHI VASHISHITH AUTONO...",BASTI,BASTI,UTTAR PRADESH,NaN,8.467946e+09
4,STATE BANK OF INDIA,SBIN0064006,MAMBAKKAM,"SBIOA UNITY ENCLAVE,COMMERCIAL COMPLEX,1ST FLO...",CHENNAI,CHENNAI,TAMIL NADU,NaN,9.489939e+09
...,...,...,...,...,...,...,...,...,...
152445,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
152446,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
152447,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
152448,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
152449,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
df.columns

Index(['BANK', 'IFSC', 'BRANCH', 'ADDRESS', 'CITY1', 'CITY2', 'STATE',
       'STD CODE', 'PHONE'],
      dtype='object')

In [1]:
import fitz  # PyMuPDF

# Load the PDF
doc = fitz.open("/Users/saikrishnakompelly/Desktop/glbyte_bs/BankStatements SK2/Bank Statement - ICICI BANK.pdf")

# Loop through pages and extract text
for page_num in range(len(doc)):
    page = doc[page_num]
    text = page.get_text()
    print(f"--- Page {page_num + 1} ---")
    print(text)

--- Page 1 ---
Account Number:
From 29/07/2024 To 29/08/202
54440 17044 80
4
Transaction date:
Description
Type
Amount
D ate
UPl/bharatpe9072812/Pay to
DR
29-0 8-2 024
30.00
BharatPe/YesBank Yespay/46084
79 23 7 58 /IC l0c e0 a f07 4 4c f4 3b 59 3 0c
75a5b3cd8f49/
DR
28-08-2024
UPI/q637244880@ybl/UPI/Yes
Ban k
60.00
Ltd /4 24 17 98 1 84 33 /IC l18 d5 f7 a7 31 8
c46219a77d32345cb6f98/
DR
28-08-2024
UPI/paytmqr597145@p/UPI/Yes
B a nk
Ltd/460744714748/IClbc59d78b70
160.00
de44d599a79b158ae7d2e9/
28-08-2024
UPI/paytmqr1eyz69vs/UPI/Yes
B a nk
DR
1 L
80.00
Ltd/424112709028/ICl4e73b81e55
b142d486d8ddcc320b8462/
UPI/karthik191186-1/UPI/Axis Bank
DR
28-08-2024
50.00
Ltd/460776202338/ICI251129f2827
c4a cc8 2 d2 2a eb d1 1e 9 64 0/
28-08-2024
UPVq145147584@ybl/UPI/Yes
B a nk
DR
50.00
Ltd/424137708456/ICl4f481e4edbf
24e09854b0a21788e7215/
DR
UPI/q055856556@ybl/UPI/Yes
Bank
28-08-2024
60.00
Ltd/424167016105/ICla61a375805
6a4328afa9f7976f1375f5/
This is a system-generated statement. Hence,it does not require any signature.
Page 1